{% extends "components/table.html.j2" %}
{% set model_path = 'sql/tables.sql' %}


{% block head %}
    <th scope="col">Name</th>
    <th scope="col">Actions</th>
{% endblock %}


{% block body %}
    {% for t in page_data.rows %}
    <tr>
        <td>{{ t.table_name | upper }}</td>
        <td>
            <a href="/table?table_name={{ t.table_name }}&schema_name={{ t.table_schema }}" 
            data-turbo-frame="_top" class="link-success">Data</a>
            <a href="/table?table_name={{ t.table_name }}&schema_name={{ t.table_schema }}" 
            data-turbo-frame="_top" class="link-info">Info</a>
            <a href="/table?table_name={{ t.table_name }}&schema_name={{ t.table_schema }}" 
            data-turbo-frame="_top" class="link-danger">Drop</a>
        </td>
    </tr>
    {% endfor %}
{% endblock %}
