{% import 'sql/tables.sql' as tables_sql with context %}
{% set tables_page = fetchpage(tables_sql, page, {}) %}

<turbo-frame id="test_frame">

    <h1>Tables</h1>

    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            {% for table in tables_page.rows %}
            <tr>
                <td>{{ table.table_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% set total_pages = tables_page.total_pages %}
    {% set template = 'tables/index.html.j2' %}
    {% include '_common/pagination.html.j2' %}

</turbo-frame>
