{% extends "components/table.html.j2" %}
{% set model_path = 'pages/queries_top/queries_top.sql.j2' %}


{% block title %}
    <h1>Slow Queries</h1>
    <span>Slowest queries, by total time</span>
{% endblock %}
