{% import 'sql/connections_count_active.sql' as query %}
{% set active_connections = fetchone(query | string, {}) %}

<turbo-frame id="{{ frame }}">

    <div class="card text-white bg-info mb-3">
        <div class="card-header">
            <a href="/connections" data-turbo-frame="_top" class="btn btn-primary stretched-link">Active Connections</a>
        </div>
        <div class="card-body">
            <h1 class="card-title text-center">{{ active_connections['count'] }}</h1>
        </div>
    </div>

</turbo-frame>
