{% import 'macros/async.html.j2' as load with context %}

{% set templates = [
    'connections/connections_count_active', 
    'overview/long_running_queries_count', 
    'overview/no_stats_tables_count'] %}

<turbo-frame id="test_frame">

    <div class="row row-cols-auto">

        {% for tmpl in templates %}
        <div class="col">
            {{ load.async(tmpl + ".html.j2") }}
        </div>
        {% endfor %}

    </div>

</turbo-frame>
