<turbo-frame id="test_frame">

  <div class="row row-cols-auto">
    
    <div class="col">
      <turbo-frame id="active_connections_count_frame" src="/test?template=overview/active_connections_count.html.j2&frame=active_connections_count_frame">
        {% include '_common/spinner.html.j2' %}
      </turbo-frame>
    </div>

    <div class="col">
      <turbo-frame id="long_running_queries_count_frame" src="/test?template=overview/long_running_queries_count.html.j2&frame=long_running_queries_count_frame">
        {% include '_common/spinner.html.j2' %}
      </turbo-frame>
    </div>
  
  </div>

</turbo-frame>
