{% import 'sql/tables_no_stats.sql' as query %}
{% set count = fetchcount(query, {}) %}

<turbo-frame id="{{ frame }}">

    <div class="col">
      <div class="card text-white {{ 'bg-success' if count==0 else 'bg-warning' }} mb-3">
        <div class="card-header">
            <a href="#" data-turbo-frame="_top" class="btn btn-primary stretched-link">No Stats Tables</a>
        </div>
        <div class="card-body">
          <h1 class="card-title text-center">{{ count }}</h1>
        </div>
      </div>    
    </div>

</turbo-frame>
