{% import 'pages/connections/connections_by_state.sql.j2' as connections_by_state_sql with context %}
{% set chart_parameters = fetchone(connections_by_state_sql | string, params) %}

{% import '_common/chartjs_doughnut.json.j2' as chartjs_doughnut_json with context %}


<turbo-frame id="{{ frame }}">

    <h3>By State</h3>

    <div class="col">
      <canvas id="connections_by_state_chart"></canvas>
    </div>

    <script>
      var ctx = document.getElementById('connections_by_state_chart').getContext('2d');
      var myChart = new Chart(ctx, {{ chartjs_doughnut_json }} );
    </script>

</turbo-frame>
