{% import 'macros/async.html.j2' as load with context %}

<turbo-frame id="test_frame">

    <h1>Connections</h1>

    <div class="row row-cols-auto">
        <div class="col">
            {{ load.async("connections/connections_count_active.html.j2") }}
        </div>
        <div class="col">
            {{ load.async("connections/connections_count.html.j2") }}
        </div>
    </div>

    <div class="row">

        <div class="col">
            <turbo-frame id="connections_by_state_frame" src="/test?template=connections/connections_by_state.html.j2&frame=connections_by_state_frame">
            {% include '_common/spinner.html.j2' %}
            </turbo-frame>
        </div>

        <div class="col">
            <turbo-frame id="connections_by_user_frame" src="/test?template=connections/connections_by_user.html.j2&frame=connections_by_user_frame">
            {% include '_common/spinner.html.j2' %}
            </turbo-frame>
        </div>

    </div>

</turbo-frame>
