select json_agg(table_name || ' (' || pg_size_pretty(total_size) || ')')::text as labels
     , json_agg(total_size)::text as data
     , json_agg(({% include "sql/colors.sql" %}))::text as colors
  from ({% include 'sql/big_tables.sql' %}) s
