{% import 'macros/charts/doughnut.html.j2' as chart with context %}

{{ chart.doughnut_chart(
  'pages/space/big_tables.sql.j2',
  { "max_table_count": 5, "schema_name": "bookings" },
  'Top 5 Tables')
}}
