{% import 'sql/top_largest_databases.sql' as query %}
{% set databases_size = fetchall(query | string, {}).rows %}

<turbo-frame id="{{ frame }}">

    <h3>Top Databases</h3>

    <div class="row row-cols-auto">

    {% for db in databases_size  %}
    <div class="col">
        {% if db.is_current_database %}
        <div class="card text-white bg-success mb-3">
        {% else %}
        <div class="card mb-3">
        {% endif %}
            <div class="card-header">"{{ db.name }}"</div>
            <div class="card-body">
                <h3 class="card-title">{{ db.size }}</h3>
            </div>
        </div>
    </div>
    {% endfor %}

    </div>

</turbo-frame>
