{% import 'macros/async.html.j2' as load with context %}

<turbo-frame id="test_frame">

    <h1>Space</h1>

    <div class="row">
        <div class="row pb-3">
            {{ load.async("space/databases_size.html.j2") }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{ load.async("space/big_tables_chartjs.html.j2") }}
        </div>

        <div class="col">
            {{ load.async("space/tables_size.html.j2") }}
        </div>
    </div>

</turbo-frame>
