{% extends "components/table.html.j2" %}
{% set model_path = 'pages/space/tables_size.sql.j2' %}

{% block title %}
    <h2>Tables</h2>
{% endblock %}

{% block head %}
    <th scope="col">Relation</th>
    <th scope="col">Size</th>
{% endblock %}

{% block body %}
    {% for table in page_data.rows %}
    <tr>
        <td>{{ table.name }}</td>
        <td>{{ table.size }}</td>
    </tr>
    {% endfor %}
{% endblock %}
