{% import 'connections_by_db.sql.j2' as connections_by_db_sql with context %}
{% set chart_parameters = fetchone(connections_by_db_sql | string, params) %}

{% import '_common/chartjs_doughnut.json.j2' as chartjs_doughnut_json with context %}


<turbo-frame id="{{ frame }}">

    <h3>By Database</h3>

    <div class="col">
      <canvas id="myChart"></canvas>
    </div>

    <script>
      var ctx = document.getElementById('myChart').getContext('2d');
      var myChart = new Chart(ctx, {{ chartjs_doughnut_json }} );
    </script>

</turbo-frame>
