{% import 'sql/databases_stats.sql' as query with context %}
{% set databases = fetchpage(query, page, {}) %}

<turbo-frame id="test_frame">

    <h1>Databases</h1>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Size</th>
                    <th scope="col">Stats age</th>
                    <th scope="col">Cache eff. (%)</th>
                    <th scope="col">Committed (%)</th>
                    <th scope="col">Conflicts</th>
                    <th scope="col">Deadlocks</th>
                    <th scope="col">Temp files count</th>
                    <th scope="col">Temp files size</th>
                </tr>
            </thead>
            <tbody>
                {% for database in databases.rows %}
                <tr>
                    <td>{{ database.name }}</td>
                    <td>{{ database.size }}</td>
                    <td>{{ database.stats_age }}</td>
                    <td>{{ database.cache_eff }}</td>
                    <td>{{ database.committed }}</td>
                    <td>{{ database.conflicts }}</td>
                    <td>{{ database.deadlocks }}</td>
                    <td>{{ database.temp_files_count }}</td>
                    <td>{{ database.temp_files_size }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% set total_pages = databases.total_pages %}
    {% set template = 'databases/index.html.j2' %}
    {% include '_common/pagination.html.j2' %}

</turbo-frame>
