{% import model_path as model_query with context %}
{% set page_data = fetchpage(model_query, page, params) %}

<turbo-frame id="{{ frame or 'test_frame' }}">

    {% block title %}
        <h1>{{ page_data.query.title }}</h1>
        <span>{{ page_data.query.description }}</span>
    {% endblock %}

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    {% block head %}
                        {% for key, values in page_data.fields.items() %}
                            <th scope="col">{{ values }}</th>
                        {% endfor %}
                    {% endblock %}
                </tr>
            </thead>
            <tbody>
                {% block body %}
                    {% for row in page_data.rows %}
                    <tr>
                        {% for f in page_data.fields %}
                        <td>{{ row[f] }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                {% endblock %}
            </tbody>
    </table>
    </div>

    {# TODO move to macros #}
    {% set total_pages = page_data.total_pages %}
    {% set template = template %}
    {% include '_common/pagination.html.j2' %}

</turbo-frame>
