{% import 'sql/queries_top.sql' as query %}
{% set page_content = fetchpage(query, page, {}) %}

<turbo-frame id="test_frame">

    <h1>Slow Queries</h1>

    <span>Slowest queries, by total time</span>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Total Exec Time</th>
                    <th scope="col">Calls</th>
                    <th scope="col">Mean Exec Time</th>
                    <th scope="col">Min Exec Time</th>
                    <th scope="col">Max Exec Time</th>
                </tr>
            </thead>
            <tbody>
                {% for row in page_content.rows %}
                <tr>
                    <td>{{ row.total_exec_time }}</td>
                    <td>{{ row.calls }}</td>
                    <td>{{ row.mean_exec_time }}</td>
                    <td>{{ row.min_exec_time }}</td>
                    <td>{{ row.max_exec_time }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% set total_pages = page_content.total_pages %}
    {% set template = 'queries/index.html.j2' %}
    {% include '_common/pagination.html.j2' %}

</turbo-frame>
